volumes:
  db:
  krill:
services:
  db:
    image: docker.io/mariadb
    restart: unless-stopped
    environment:
      - "MARIADB_ROOT_PASSWORD=root"
      - "MARIADB_DATABASE=lnvps"
    ports:
      - "3376:3306"
    volumes:
      - "db:/var/lib/mysql"
  redis:
    image: redis
    restart: unless-stopped
    ports:
      - "6398:6379"
  krill:
    image: nlnetlabs/krill
    restart: unless-stopped
    environment:
      - "KRILL_FQDN=rpki.localhost"
      - "TZ=Europe/Dublin"
      - "KRILL_LOG_LEVEL=debug"
      - "KRILL_AUTH_TOKEN=krill"
    ports:
      - "3000:3000"
    volumes:
      - "krill:/var/krill/data"