[package]
name = "lnvps_api"
version = "0.1.0"
edition.workspace = true

[[bin]]
name = "lnvps_api"
path = "src/bin/api.rs"

[features]
default = [
    "mikrotik",
    "nostr-dm",
    "nostr-dvm",
    "nostr-nwc",
    "nostr-domain",
    "proxmox",
    "lnd",
    "cloudflare",
    "revolut",
    "bitvora",
    "tokio/sync",
    "tokio/io-util",
]
mikrotik = ["dep:reqwest"]
nostr-dm = ["dep:nostr-sdk", "nostr-sdk/nip44", "nostr-sdk/nip59"]
nostr-dvm = ["dep:nostr-sdk"]
nostr-domain = ["lnvps_db/nostr-domain"]
nostr-nwc = ["dep:nostr-sdk", "dep:nwc", "nostr-sdk/nip47"]
proxmox = ["dep:reqwest", "dep:ssh2", "dep:tokio-tungstenite"]
libvirt = ["dep:virt", "dep:uuid", "dep:quick-xml"]
lnd = ["payments-rs/method-lnd"]
bitvora = ["payments-rs/method-bitvora", "payments-rs/rocket"]
cloudflare = ["dep:reqwest"]
revolut = ["payments-rs/method-revolut", "payments-rs/rocket"]

[dependencies]
lnvps_db = { path = "../lnvps_db" }
lnvps_common = { path = "../lnvps_common" }
lnvps_api_common = { path = "../lnvps_api_common" }
anyhow.workspace = true
log.workspace = true
env_logger.workspace = true
tokio.workspace = true
config.workspace = true
serde.workspace = true
serde_json.workspace = true
rocket.workspace = true
hex.workspace = true
payments-rs.workspace = true
chrono = { version = "0.4.38", features = ["serde"] }
base64 = { version = "0.22.1", features = ["alloc"] }
urlencoding = "2.1.3"
ipnetwork.workspace = true
rand = "0.9.0"
clap = { version = "4.5.21", features = ["derive"] }
ssh-key = "0.6.7"
lettre = { version = "0.11.10", features = ["tokio1-native-tls"] }
ws = { package = "rocket_ws", version = "0.1.1" }
native-tls = "0.2.12"
lnurl-rs = { version = "0.9.0", default-features = false }
mustache = "0.9.0"

futures = "0.3.31"
isocountry = "0.3.2"
hickory-resolver = "0.25.2"
humantime = "2.2.0"

#nostr-dm
nostr-sdk = { version = "0.44", optional = true, default-features = false }

#nostr-nwc
nwc = { version = "0.44", optional = true }

#proxmox
tokio-tungstenite = { version = "^0.21", features = ["native-tls"], optional = true }
ssh2 = { version = "0.9.4", optional = true }
reqwest = { version = "0.12.8", optional = true }

#libvirt
virt = { git = "https://gitlab.com/libvirt/libvirt-rust.git", optional = true }
#virtxml = {git = "https://gitlab.com/libvirt/libvirt-rust-xml.git", optional = true}/
uuid = { version = "1.16.0", features = ["v4", "serde"], optional = true }
quick-xml = { version = "0.37.3", features = ["serde", "serialize"], optional = true }

[dev-dependencies]
lightning-invoice = "0.34"
bitcoin = "0.32"